<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="com.android.vending.BILLING" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_MEDIA_LOCATION" /> <!-- location -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" /> <!-- The Agora SDK requires Bluetooth permissions in case users are using Bluetooth devices. -->
    <uses-permission android:name="android.permission.BLUETOOTH" /> <!-- For Android 12 and above devices, the following permission is also required. -->
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:enableOnBackInvokedCallback="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.DatingApp"
        android:usesCleartextTraffic="true"
        tools:ignore="MissingClass"
        tools:targetApi="tiramisu">
        <activity
            android:name=".ui.notification.MatchedUserScreen"
            android:exported="false" />
        <activity
            android:name=".ui.settings.NotificationSettingActivity"
            android:exported="false"
            android:screenOrientation="sensorPortrait" />
        <activity
            android:name=".ui.location_permissions.ManualLocationActivity"
            android:exported="false"
            android:screenOrientation="sensorPortrait" />
        <activity
            android:name=".ui.verify.email.VerifyOtpForEmailActivity"
            android:exported="false"
            android:screenOrientation="sensorPortrait" />
        <activity
            android:name=".ui.verify.email.UpdateOrVerifyEmailActivity"
            android:exported="false"
            android:screenOrientation="sensorPortrait" />
        <activity
            android:name=".ui.verify.phone.VerifyOtpForPhoneNumberActivity"
            android:exported="false"
            android:screenOrientation="sensorPortrait" />
        <activity
            android:name=".ui.verify.phone.UpdateOrVerifyMobileNumberActivity"
            android:exported="false"
            android:screenOrientation="sensorPortrait" />
        <activity
            android:name=".ui.settings.SettingActivity"
            android:exported="false"
            android:screenOrientation="sensorPortrait" />
        <activity
            android:name=".ui.home.activities.CallingActivity"
            android:exported="false"
            android:screenOrientation="sensorPortrait" />
        <activity
            android:name=".ui.settings.SubscriptionActivity"
            android:exported="false"
            android:screenOrientation="sensorPortrait" />
        <activity
            android:name=".ui.settings.BlockedUsersActivity"
            android:exported="false"
            android:screenOrientation="sensorPortrait" />

        <service
            android:name=".MyFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <activity
            android:name=".ui.home.activities.VideoCallActivity"
            android:exported="false"
            android:screenOrientation="sensorPortrait" />
        <activity
            android:name=".ui.settings.LocationSettingActivity"
            android:exported="false"
            android:screenOrientation="sensorPortrait" />
        <activity
            android:name=".ui.home.activities.GalleryActivity"
            android:exported="false"
            android:screenOrientation="sensorPortrait" />
        <activity
            android:name=".ui.home.activities.VoiceCallActivity"
            android:exported="false"
            android:screenOrientation="sensorPortrait" />
        <activity
            android:name=".ui.settings.EditProfileActivity"
            android:exported="false"
            android:screenOrientation="sensorPortrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ui.home.activities.ChatActivity"
            android:exported="false"
            android:screenOrientation="sensorPortrait" />
        <activity
            android:name=".ui.home.HomeActivity"
            android:exported="false"
            android:screenOrientation="sensorPortrait" />
        <activity
            android:name=".ui.add_photo.AddPhotoActivity"
            android:exported="false"
            android:screenOrientation="sensorPortrait" />
        <activity
            android:name=".ui.location_permissions.LocationPermissionActivity"
            android:exported="false"
            android:screenOrientation="sensorPortrait" />
        <activity
            android:name=".ui.onboarding.CreateProfileActivity"
            android:exported="false"
            android:screenOrientation="sensorPortrait" />
        <activity
            android:name=".ui.login.VerifyOtpActivity"
            android:exported="false"
            android:screenOrientation="sensorPortrait" />
        <activity
            android:name=".ui.SplashActivity"
            android:exported="true"
            android:screenOrientation="sensorPortrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.login.MobileLoginActivity"
            android:exported="false"
            android:screenOrientation="sensorPortrait" />
        <activity
            android:name=".ui.login.LoginActivity"
            android:exported="false"
            android:screenOrientation="sensorPortrait" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provide_path" />
        </provider>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="${MAPS_API_KEY}" />
    </application>

</manifest>